@model BankingApp.Models.Transaction

@{
    ViewData["Title"] = "TransDetails";
}

<h1>TransDetails</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.FromAccount)*@
            From Account
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAccount)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ToAccount)*@
            To Account
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccount)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.TransactionTime)*@
            Transaction Time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionTime)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.AmountDebit)*@
            Amount Debited
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountDebit)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.FromAccountBal)*@
            From Amount Balance
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAccountBal)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ToAccountBal)*@
            To Amount Balance
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAccountBal)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
